.project-card {
  position: relative;
  overflow: hidden; 
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.project-card:hover .project-img {
  opacity: 1; 
}

.project-card:hover h3,
.project-card:hover p,
.project-card:hover .bottom-card,
.project-card:hover .project-link{
  position: relative;
  z-index: 2;
  color: white; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); 
}


.project-card:hover .project-btn img{
  filter: invert(1);
}
.project-card:hover .iconimg{
  filter: invert(1);
}
.project-card:hover .project-link::after {
  background-color: #fff;
}


.project-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.project-card:hover::after {
  opacity: 1;
}

.project-card .iconimg{
  width: 15px;
  height: 15px;
}

.see-more-btn {
  display: block;
  margin: 2rem auto;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.see-more-btn:hover {
  background-color: #333;
  color: white;
}

.projects{
  display: flex;
  flex-direction: column;
  z-index: 6;
}