@import url('dark.css');
@import url('main.css');
@import url('header.css');
@import url('section.css');
@import url('loader.css');
@import url('card.css');
@import url('footer.css');
@import url('contact.css');
@import url('footercontent.css');
@import url('TiltedCard.css');
@import url('respsection.css');


@font-face {
    font-family: 'chrome';  
    src: url('../../public/font/chrome.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';  
    src: url('../../public/font/rb.ttf') format('opentype');
}