.dark {
    color: #fff;
  }

  .dark main{
    background-image: url('../../public/img/bg1.jpg') !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .dark .header {
    border-bottom: 1px solid #ffffff;
  }
  
  .dark .header h1 {
    color: #fff;
  }
  
  .dark .header p {
    color: #ccc;
  }
  
  .dark .logo img {
    filter: invert(0);
  }
  
  .dark .nav-links ul a {
    color: #ccc;
  }
  
  .dark .nav-links ul a:hover {
    color: #fff;
  }
  
  .dark .presentation-content {
    background-color: rgba(0, 0, 0, 0.621);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.201);
  }

  .dark .animated-paragraph {
    color: #ffffff;
  }
  

  
  .dark .skills-content {
    background-color: rgba(0, 0, 0, 0.621);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.201);
  }
  
  .dark .skill-item {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .dark .highlight-link {
    color: #fff;
  }
  
  .dark .highlight-link::after {
    background-color: #fff;
  }
  
  .dark .presentation-text p {
    color: #ffffff;
  }
  
  .dark .animated-title {
    color: #ffffff;
  }
  
  .dark .animated-title::after {
    background: linear-gradient(90deg, #fff, transparent);
  }
  
  .dark .skill-item{
    fill: #fff;
  }