.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    background: none;
    height: 10vh;
    width: 100%;
    animation : appears 1s ease;
  }
  
  
  .header h1 {
    font-size: 3rem;
    font-family: 'chrome', sans-serif;  
    width: 100%;
  }
  
  .header p{
    font-size: 1.5rem;
    width: 100%;
    font-weight: 300;
  }
  
  .logo{
    display: flex;
    align-items: center;
    width: 40%;
  }
  
  .logo-text{
    height: 100%;
    width: 100%;
    font-weight: lighter;
    text-align: flex-start;
    display: flex;  
    align-items: center;
  }
  
  .logo img{
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-left: 1rem;
    filter: invert(1);
  }

  .logo img:hover{
    animation: rotation 0.5s ease;
  }

    .p-container {
        position: relative;
        overflow: hidden;
        height: 40px; 
        width: 20vw;
        margin-left: 1rem;
    }

    .logo-text p {
        position: relative;
        display: inline-block;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .logo-text p::before {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .logo-text p:hover {
        transform: translateY(-100%);
    }

    .logo-text p:hover::before {
        opacity: 1;
        transform: translateY(0);
    }
  
  .theme-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
  }
  
  .theme-switch svg{
    width: 30px;
    height: 20px;
    fill: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .theme-switch svg:hover{
    animation: rotation 0.5s ease;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }
  .nav-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-links ul li {
    position: relative;
    overflow: hidden;
    height: 40px; 
}

.nav-links ul a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 3rem;
    transition: transform 0.8s ease;
}

.nav-links ul a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.nav-links ul a:hover {
    transform: translateY(-100%);
}

.nav-links ul a:hover::before {
    opacity: 1;
}

@keyframes appears {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}